parameters:
  level: 0
  paths:
    - src
    - public/api
  memoryLimit: 512M
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  checkImplicitMixed: false
  reportUnmatchedIgnoredErrors: true
