@import "tailwindcss";

@theme {
  --color-wcs-green: #026937;
  --color-wcs-gold: #EDAA00;
  --color-wcs-navy: #20263e;
  --color-wcs-tan: #D2B48C;
  --color-alert-red: #DC2626;
}

:root {
  --background: #ffffff;
  --foreground: #111827; /* gray-900 */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), sans-serif;
}
